**/.vs
**/.vscode
**/.idea
**/*.exe
**/_*_.*
**/BOOK.DAT
**/*.vcxproj.user
**/.VSCodeCounter
**/build
**/cmake-build-debug
**/cmake-build-release
**/package.json
**/package-lock.json
**/nnue/data/
**/*.out
**/pytorch_env
**/example/
**/runs
**/*.pth
**/__pycache__/
**/*.pyc
**/*.pt
**/node_modules/
**/dist/
**/enc_temp_folder
**/x64/
**/x86/
