<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess98 - UI</title>

    <script src="./vue.global.prod.min.js"></script>

    <style>
        #app {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #board {
            width: 450px;
            display: flex;
            flex-wrap: wrap;
            background-image: url('./res/board.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .row {
            display: flex;
            flex-direction: column;
        }

        .square {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .piece {
            width: 50px;
            height: 50px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="board">
            <div class="row" v-for="row, x in board">
                <div class="square" v-for="pieceid, y in row" @click="pieceOnclick(x, y, pieceid)">
                    <div class="piece" v-if="pieceid !== 0" :style="{ backgroundImage: `url('./res/${pieceid}.png')` }"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const R_ROOK = "red_rook"
        const R_KNIGHT = "red_knight"
        const R_BISHOP = "red_bishop"
        const R_GUARD = "red_guard"
        const R_KING = "red_king"
        const R_CANNON = "red_cannon"
        const R_PAWN = "red_pawn"
        const B_ROOK = "black_rook"
        const B_KNIGHT = "black_knight"
        const B_BISHOP = "black_bishop"
        const B_GUARD = "black_guard"
        const B_KING = "black_king"
        const B_CANNON = "black_cannon"
        const B_PAWN = "black_pawn"
        const RED = "r"
        const BLACK = "b"

        function parseBoardCode(code) {
            let result = []
            for (let i = 1; i <= 90; i++) {
                let x = Math.floor((i - 1) / 10)
                let y = (i - 1) % 10
                let c1 = code[i * 2 - 2]
                let c2 = code[i * 2 - 1]
                let pieceName = c1 + c2

                if (!result[x])
                    result[x] = []

                if (pieceName == "__")
                    result[x][y] = 0
                else if (pieceName == "RR")
                    result[x][y] = R_ROOK
                else if (pieceName == "RN")
                    result[x][y] = R_KNIGHT
                else if (pieceName == "RB")
                    result[x][y] = R_BISHOP
                else if (pieceName == "RG")
                    result[x][y] = R_GUARD
                else if (pieceName == "RK")
                    result[x][y] = R_KING
                else if (pieceName == "RC")
                    result[x][y] = R_CANNON
                else if (pieceName == "RP")
                    result[x][y] = R_PAWN
                else if (pieceName == "BR")
                    result[x][y] = B_ROOK
                else if (pieceName == "BN")
                    result[x][y] = B_KNIGHT
                else if (pieceName == "BB")
                    result[x][y] = B_BISHOP
                else if (pieceName == "BG")
                    result[x][y] = B_GUARD
                else if (pieceName == "BK")
                    result[x][y] = B_KING
                else if (pieceName == "BC")
                    result[x][y] = B_CANNON
                else if (pieceName == "BP")
                    result[x][y] = B_PAWN
                else
                    console.log("Unknown piece name: " + pieceName)
            }
            return result
        }

        Vue.createApp({
            data() {
                return {
                    board: [],
                    playerTeam: BLACK,
                    selectedPiece: null
                }
            },

            methods: {
                reloadBoardFromServer() {
                    const http = new XMLHttpRequest()
                    http.onreadystatechange = () => {
                        if (http.readyState === 4) {
                            let board = parseBoardCode(http.responseText)
                            this.board = board
                        }
                    }
                    http.open('GET', 'http://localhost:9494/boardcode', true)
                    http.send()
                },

                pieceOnclick(x, y, pieceid) {
                    if (pieceid[0] == this.playerTeam) {
                        this.selectedPiece = { x, y }
                        console.log("Selected piece: ", x, y)
                    } else {
                        if (this.selectedPiece) {
                            console.log("Move piece: ", this.selectedPiece.x, this.selectedPiece.y, x, y)
                            this.board[x][y] = this.board[this.selectedPiece.x][this.selectedPiece.y]
                            let x1 = "" + this.selectedPiece.x
                            let y1 = "" + this.selectedPiece.y
                            let x2 = "" + x
                            let y2 = "" + y
                            let move = x1 + y1 + x2 + y2
                            const http = new XMLHttpRequest()
                            http.open('GET', 'http://localhost:9494/move?playermove=' + move, true)
                            http.send()
                            this.selectedPiece = null
                        }
                    }
                }
            },

            mounted() {
                this.reloadBoardFromServer()
            }
        }).mount('#app')
    </script>
</body>

</html>
